streamlit
opencv-python-headless
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
timm
pandas
numpy
mediapipe==0.10.14
streamlit-player
streamlit-webrtc
av
Pillow
GitPython
